/* Estilos da tabela */ 
.table-container {
    display: flex;
    justify-content: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin-top: 50px;
    
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td  {
    text-align: left;
    padding: 8px;
    width: 25%; /* define a largura das colunas */
  }
   .icones{
    display: inline-block;
    padding-left: 80px;
  }
  th {
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
    
  }
  
   
   .icones:hover{
    color:rgb(104, 104, 104); ;
   }
  
  
  /* Estilos dos filtros */
  label {
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30vw;
  }
  
  /* Estilos do título */
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  