.Header {
    display: flex;
    height: 120px;
    background-color: #F5F5F5;
    justify-content: space-between;
    align-items: center;
    padding-right: 120px;
}

.Header .Title {
    margin-left: 15px;
    align-self: end;
}

.Header .Options {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
}

.Header a {
    padding-left: 8px;
    padding-right: 8px;
    color: #63236B;
    border-radius: 20px;
}

.Header a:hover {
    color: #4B0054;
    background-color: #A386A8;
    border-radius: 20px;
}