.NavBar {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100vh;
    justify-content: space-between; 
    background-color: #4B0054;
    position: sticky;
    top: 0;
}

.NavBar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    
}

.NavBar li {
    display: flex 1;
    justify-items: center;
    align-items: center;
    font-size: x-large;
}

.NavBar a {
    color: #ddd
}

.NavBar a:hover {
    color: #cf7dfe
}
